/* FONT Definitions =================================
=====================================================*/
/* PTSans Bold font for any text ++++++++++++++++++++++++++++++++++++++*/

@font-face {
	font-family: 'Awesome_font';
	src: url('fonts/fontawesome-webfont.eot');
	src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/fontawesome-webfont.ttf') format('truetype'),
		url('fonts/fontawesome-webfont.woff') format('woff'),
		url('fonts/fontawesome-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

